name: Build and Test

on:
  pull_request:
  push:

env:
  BUILD_TYPE: Release

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        build_type: [Release]
        os: [ubuntu-latest]
        include:
        - os: ubuntu-latest
          build_type: Debug
          config_flags: "-DUSE_ASAN=ON"
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
        submodules: recursive

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y --no-install-recommends \
          ninja-build cmake build-essential git \
          libeigen3-dev liblapacke-dev libopenblas-dev \
          libpcap-dev libusb-1.0-0-dev zlib1g-dev \
          freeglut3-dev libx11-dev \
          python3 python3-pip

    - name: Configure
      run: |
        cmake -S . -B build -G Ninja \
          -DCMAKE_BUILD_TYPE=${{ matrix.build_type }} \
          -DUSE_EIGEN=On -DDOWNLOAD_EIGEN=On \
          -DENABLE_TESTS=ON \
          ${{ matrix.config_flags }}

    - name: Build
      run: cmake --build build --config ${{ matrix.build_type }} --verbose

    - name: Test
      working-directory: build
      run: ctest -C ${{ matrix.build_type }} --output-on-failure --parallel
      env:
        LSAN_OPTIONS: suppressions=${{ github.workspace }}/useful_files/leak_suppressions.txt
